/* @tailwind components; */
@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
:root {
  --comfortaa: "Comfortaa", cursive;
  --cinzel: "Cinzel Decorative", sans-serif;
  --roboto: "Roboto", sans-serif;
  --bebas: "Bebas Neue", cursive;
  --nunito: "Nunito", sans-serif;
  --righteous: "Righteous", cursive;
  --poppins: "Poppins", cursive;
  --dosis: "Dosis", sans-serif;
  --anton: "Anton", sans-serif;
  --arial-black: "Archivo Black", sans-serif;

  --navbarColor: rgba(255, 255, 255, 0.5);
  --backgroundColor: #fff;
  --onBackgroundColor: #000;
  --onBackgroundColor2: rgb(109, 109, 109);
  --primaryColor: #5500c5;
  --onPrimaryColor: #fff;
  --primaryColorVariant: #34004d;
  --onPrimaryColorVariant: #fff;
  --error: #f00;
  --onError: #fff;
  --successful: #0f0;
  --onSuccessful: #fff;
  --navbarHeight: 55px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: color 0.3s, background-color 0.3s;
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}
a,
a:visited,
a:hover,
a:active,
a:link {
  text-decoration: none;
}

/* ************** PRIMARY STYLE **************************** */
.primary-button,
.secondary-button,
.variant-button {
  padding: 0.5rem;
  margin: 0.5rem;
  font-family: var(--roboto);
  border: solid;
  border-width: 0.5px;
  border-color: transparent;
  animation: scaleOutBounce 0.3s;
  animation-fill-mode: forwards;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.primary-button {
  background-color: var(--primaryColor);
  color: var(--onPrimaryColor);
}
.secondary-button {
  background-color: var(--onPrimaryColor);
  color: var(--primaryColor);
  border-color: var(--primaryColor);
}
.variant-button {
  background-color: var(--onBackgroundColor);
  color: var(--backgroundColor);
}

.primary-button:hover,
.secondary-button:hover,
.variant-button:hover {
  animation: scaleInBounce 0.3s;
  animation-fill-mode: forwards;
}
.primary-button:hover {
  background-color: var(--onPrimaryColor);
  color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.secondary-button:hover {
  background-color: var(--primaryColor);
  color: var(--onPrimaryColor);
  border-color: var(--primaryColor);
}

.variant-button:hover {
  background-color: var(--backgroundColor);
  color: var(--onBackgroundColor);
  border-color: var(--onBackgroundColor);
}
/* *************** UTILITIES **************************/
.below-navbar {
  margin-top: var(--navbarHeight);
}
.min-h-offset {
  min-height: calc(100vh - var(--navbarHeight));
}

.max-h-offset {
  max-height: calc(100vh - var(--navbarHeight));
}

.h-offset {
  height: calc(100vh - var(--navbarHeight));
}

.text-shadow-1 {
  text-shadow: 1px 1px 2px #000;
}
.text-shadow-2 {
  text-shadow: 1px 1px 2px #000, 1px 1px 2px #000;
}
.text-shadow-3 {
  text-shadow: 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000;
}

/* FONTS */
.font-anton {
  font-family: var(--anton);
}
.font-dosis {
  font-family: var(--dosis);
}
.font-bebas {
  font-family: var(--bebas);
}

.font-roboto {
  font-family: var(--roboto);
}
/* COLORS */
.color-background {
  color: var(--backgroundColor);
}
.color-onbackground {
  color: var(--onBackgroundColor);
}

.bg-background {
  background-color: var(--backgroundColor);
}
.bg-onbackground {
  background-color: var(--onBackgroundColor);
}

.color-primary {
  color: var(--primaryColor);
}
.color-onprimary {
  color: var(--onPrimaryColor);
}

.bg-primary {
  background-color: var(--primaryColor);
}
.bg-onprimary {
  background-color: var(--onPrimaryColor);
}

.color-error {
  color: var(--error);
}
.bg-error {
  background-color: var(--error);
}
.color-successful {
  color: var(--successful);
}
.bg-successful {
  background-color: var(--successful);
}

/* ANIMATIONS */
@keyframes scaleInBounce {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes scaleOutBounce {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.hover-scale {
  transition: transform 0.3s;
}
.hover-scale:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/*  SCROLL BAR */

/* width */
*::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--backgroundColor);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--onBackgroundColor);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--onBackgroundColor);
}

/* *************************** THEMES *************************************/
body[data-theme="dark"] {
  --backgroundColor: rgb(15, 15, 15);
  --onBackgroundColor: rgb(255, 255, 255);
  --navbarColor: rgba(0, 0, 0, 0.8);
}

body[data-theme="light"] {
  --backgroundColor: #fff;
}

@tailwind utilities;
